<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh">
    <form>
        <div class="mb-3">
            <label for="login" class="form-label">Логин</label>
            <input type="login" class="form-control" autocomplete="on" id="login">
        </div>
        <div class="mb-3">
            <label for="login" class="form-label">Имя</label>
            <input type="login" class="form-control" autocomplete="on" id="name">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" autocomplete="on" id="password">
        </div>
        <button class="btn btn-primary" type="button" reactable="false" id="push">Зарегистрироваться</button>
    </form>
</div>

