body{
    font-family: Georgia, sans-serif;
	font-weight: 400;
	line-height:1.7;
    text-align: center;
    margin: 0 auto;
}

    /*header*/

header{
    top: 0;
    max-width: 100%;
    margin: auto;
    border-bottom: 1px solid #dad9d9;
}
.menu{
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-flex;
    max-width: 1000px;
}
.menu a{
    margin-left: 10px;
}
.logo{
    display: inline-flex;
    font-weight: 700;
    margin-left: 0px;
    font-size: 20px;
    color: #303036e3;
}
.headerLink{
    margin-left: 0px;
}
.AuthInfo{
    margin-left: 200px;
}
.AuthInfo a{
    margin-left: 10px
}


.links a{
    color: #303036;
    font-family: Montserrat,sans-serif;
}
.links a:hover{
    color:#00AEFA;
}
.quit{
	padding: 2 2 2 2px;
	background-color: #00AEFA;
	color: white;
	border: 1px solid #00AEFA;
	outline: none;
	border-radius: 5px;
    text-decoration: none;
    transition: 0.3s linear;

}
.quit:hover{
    background: #00affa48;
    border: 1px solid #00AEFA;
    color: #303036e3;
}
a:hover{
    color:#00AEFA;
}






    /*product presentation(img)*/
.shadow{
    background: white;
    opacity: 0.75;
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 800px;
}
.presentation{
    z-index: 2;
    position: absolute;
    margin: auto;
    width: 100%;
    margin-top: 250px;
}
.presentation h1{
    font-size: 40px;
}
.product{
    background: url(../img/test.png) no-repeat;
}



    /*why we?*/
.advantages{
    width: 100%;
    height: 500px;
    background: #f0f0f2;
}
.advantages h4{
    font-size: 24px;
    font-family: Montserrat,sans-serif;
    color: #303036;
    margin-top: 0;
}
.a-col{
    display: inline-block;
    width: 300px;
    height: 150px;
    vertical-align: top;
    padding-top: 0px;
}



    /*contact*/
.contact{
    background: #f0f0f2;
    font-size: 24px;
    font-family: Montserrat,sans-serif;
    width: 50%;
    margin:auto;
    text-align: left;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    padding-top: 0px;
}
.contact a:hover{
    text-decoration: underline;
}
.contact div{
    display: flex;
    margin-top: 5px;
}
.contact div img{
    margin-right: 10px;
}




















    /*headers*/
h1{
    font-family: Montserrat,sans-serif;
    color: #404046bf;
}



    /*links*/
a{
    text-decoration: none;
    text-transform: none;  
    color: #303036;
}



    /*buttons*/
.openBut{
	background-color: #00AEFA;
	color: white;
	outline: none;
	border-radius: 5px;
    text-decoration: none;
    transition: 0.3s linear;
    border: 1px solid #00AEFA;
}
.openBut:hover{
    background: #00affa48;
    border: 1px solid #00AEFA;
    color: #303036e3;
}
.delete{
	background-color: #f34642;
	color: white;
	border: none;
	outline: none;
	border-radius: 5px;
    text-decoration: none;
    transition: 0.3s linear;
    border: 1px solid #f34642;
}
.delete:hover{
    background: #f3454293;
    border: 1px solid #f34642;
    color: #303036e3;
}
.edit{
    background: #59e259;
	color: white;
	border: none;
	outline: none;
	border-radius: 5px;
    text-decoration: none;
    transition: 0.3s linear;
    border: 1px solid #59e259;
}
.edit:hover{
    background: #59e25975;
    border: 1px solid #59e259;
    color: #303036e3;
}






    /*inputs*/
.standartinput{
    min-height: 24px;
    padding: 1px 3px;
    border: 1px solid #d6d6d6;
    outline: none;
    color: #9393a2;
}
.standartinput:hover{
    border: 1px solid #00AEFA;
}
    /*massages*/
.massage{
    background: #59e259;
    padding: 4px;
    position: absolute;
    border-radius: 4px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline;
}
.error{
    border-radius: 4px;
    position: absolute;
    padding: 4px;
    background: #f34642; 
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline;
}